<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}
    {% block body_block %}
    <!-- replacement of validlink coz its not working -->
    {% with is_valid = validlink %} 
    <!--  -->
    {% if is_valid %}
        <h2>Password reset complete</h2>
        <hr>
        <p>Your password has been set. You may go ahead and log in</p>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    {% else %}
        <p>This is the else part</p>
    {% endif %}
    <!--  -->
    {% endwith %}
    <!--  -->
    {% endblock %}
</body>
</html>