<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Books</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
            <table>
                {% for feilds in upload_form %}
                <tr>
                    <th>
                        {{ feilds.label }}
                    </th>
                    <th>
                        {{ feilds }}
                    </th>
                </tr>
                {% endfor %}
            </table>
            <button type="submit">Submit</button>
    </form>
</body>
</html>
